.titlemargin{
    margin-top: 200px;
    margin-bottom: 30px;
}
.bookbutton{
    margin:40px;
}
.index-page{
    background-color: #ECF2FF !important; 
}
.list-page{
    background-color: #B7B7B7 !important;
}
.titlefont{
    font-family: 'Sacramento', cursive;
    font-size: 6.4rem !important;
}
@media (max-width:767px){
    .titlefont{
        font-family: 'Sacramento', cursive;
        font-size: 2.8rem !important;
    }
}
.titlephoto{
    margin: 30px;
    width:10%;
    height:10%;
}
